@model EntityCFP.CallForPaperSeries
<p>
    @Model.CallForPaperSeries_SK
</p>

<p>
    @Model.CallForPaperSeriesShortName
</p>
<p>
    @Model.CallForPaperSeriesName
</p>

<table class="table">
    <thead>
        <tr>
            <th>CallForPaper_Id</th>
            <th>When</th>
            <th>Location</th>
        </tr>
    <thead>
    <tbody>
        @foreach (var cfp in Model.cfpList) {
            <tr>
                <td><a href="@Url.Action("Detail","CallForPaper",new { id = cfp.CallForPaper_SK })">@cfp.CallForPaper_SK</a></td>
                <td>@cfp.When</td>
                <td>@cfp.Location</td>
            </tr>
        }
    </tbody>
</table>

