@using EntityCFP;
@{
    ViewBag.Title = "Categories";
}

<h2>@ViewBag.Title</h2>
<table class="table">
    <thead>
        <tr>
            <th>Category_Id</th>
            <th>Category Name</th>
            <th>Category Usage</th>
        </tr>
    <thead>
    <tbody>
        @foreach (Category cat in ViewBag.CategoryList) { 
        <tr>
            <td><a href="@Url.Action("Detail","Category",new { id = cat.Category_SK })">@cat.Category_SK</a></td>
            <td>@cat.CategoryName</td>
            <td>@cat.CategoryUsage</td>
        </tr>
        }
    </tbody>
</table>

