@using EntityCFP
<h2>"Detail"</h2>
<p>
    @Model.CallForPaper_SK
</p>

<p>
    @Model.CallForPaperSeriesName
</p>

<p>
    @Model.When
</p>

<p>
    @Model.Location
</p>

<p>
    @Model.CallForPaperText
</p>

