@using EntityCFP;
@{
    ViewBag.Title = "Call for Paper";
}

<h2>@ViewBag.Title</h2>
<table class="table">
    <thead>
        <tr>
            <th>CallForPaper_Id</th>
            <th>CallForPaperSeriesName</th>
            <th>When</th>
            <th>Location</th>
        </tr>
    <thead>
    <tbody>
        @foreach (CallForPaper cfp in ViewBag.CallForPaperList) {
        <tr>
            <td><a href="@Url.Action("Detail","CallForPaper",new { id = cfp.CallForPaper_SK })">@cfp.CallForPaperSeries_SK</a></td>
            <td>@cfp.CallForPaperSeriesName</td>
            <td>@cfp.When</td>
            <td>@cfp.Location</td>
        </tr>
        }
    </tbody>
</table>

